body {
    margin: 0;
    padding: 0;
    background-image: url("bg-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}